<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CRM{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Навигационное меню -->
    <nav>
        <a href="{% url 'candidate_list' %}">🏠 Главная</a>
        <a href="{% url 'mentor_list' %}">👨‍🏫 Менторы</a>

    </nav>

    <!-- Основной контент -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>


