<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список пользователей</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Список пользователей</h1>



        <input type="text" id="searchInput" placeholder="🔍 Поиск по имени или телефону" onkeyup="searchUsers()">

        <div class="lists">
            <div class="not-contacted">
                <h2>🔴 Не связались</h2>
                <table>
                    <tr><th>Имя</th><th>Телефон</th><th>Направление</th><th>Статус</th><th>Действие</th></tr>
                    {% for candidate in not_contacted %}
                    <tr>
                        <td><a href="{% url 'candidate_detail' candidate.id %}">{{ candidate.name }}</a></td>
                        <td><a href="tel:{{ candidate.phone }}">📞</a></td>
                        <td>{{ candidate.direction }}</td>
                        <td>{{ candidate.is_deleted }}</td>
                        <td>🟡 Думает</td>
                        <td>
                            <a href="{% url 'edit_candidate' candidate.id %}" class="btn">✏️ Редактировать</a>
                            <a href="{% url 'mark_contacted' candidate.id %}" class="btn">✅ Связались</a>
                            <a href="{% url 'delete_permanently' 'candidate' candidate.id %}" onclick="return confirm('Удалить навсегда?');">❌ Удалить</a>


                        </td>
                    </tr>
                    {% empty %}
                    <tr><td colspan="5">Нет пользователей</td></tr>
                    {% endfor %}
                </table>
            </div>

            <div class="contacted">
                <h2>✅ Связались</h2>
                <table>
                    <tr><th>Имя</th><th>Телефон</th><th>Направление</th><th>Статус</th><th>Ментор</th><th>Действие</th></tr>
                    {% for candidate in contacted %}
                    <tr>
                        <td><a href="{% url 'candidate_detail' candidate.id %}">{{ candidate.name }}</a></td>
                        <td><a href="tel:{{ candidate.phone }}">📞</a></td>
                        <td>{{ candidate.direction }}</td>
                        <td>🟡 Думает</td>
                        <td>{{ candidate.mentor.name|default:"Нет ментора" }}</td>

                        <td>
                            <a href="{% url 'edit_candidate' candidate.id %}" class="btn">✏️ Редактировать</a>
                            <a href="{% url 'assign_mentor' candidate.id %}" class="btn">🎓 Назначить ментора</a>
                            <a href="{% url 'mark_status' candidate.id 'passed_test' %}" class="btn">✔️ Прошел тест</a>
                            <a href="{% url 'delete_permanently' 'candidate' candidate.id %}" onclick="return confirm('Удалить навсегда?');">❌ Удалить</a>

                        </td>
                    </tr>
                    {% empty %}
                    <tr><td colspan="6">Нет пользователей</td></tr>
                    {% endfor %}
                </table>

                <div class="passed_test">
                <h2>Прошел тест</h2>
                <table>
                    <tr>
                        <th>Имя</th><th>Телефон</th><th>Направление</th>><th>Ментор</th><th>Действие</th>
                    </tr>
                    {% for candidate in  passed_test_candidates%}
                    <tr>
                        <td><a href="{% url 'candidate_detail' candidate.id %}">{{ candidate.name }}</a></td>
                        <td><a href="tel:{{ candidate.phone }}">📞</a> |
<!--                            <a href="https://wa.me/{{ candidate.phone }}" target="_blank">💬 WhatsApp</a>-->
                        </td>
                        <td>{{ candidate.direction }}</td>
                        <td>{{ candidate.mentor.name|default:"Нет ментора" }}</td>
                        <td>
                            <a href="{% url 'edit_candidate' candidate.id %}" class="btn">✏️ Редактировать</a>
                            <a href="{% url 'assign_mentor' candidate.id %}" class="btn">🎓 Назначить ментора</a>
                            <a href="{% url 'delete_permanently' 'candidate' candidate.id %}" onclick="return confirm('Удалить навсегда?');">❌ Удалить</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr><td colspan="6">Нет стажеров с этим статусом</td></tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <a href="{% url 'add_candidate' %}" class="btn">➕ Добавить стажера</a>
        <a href="{% url 'add_mentor' %}" class="btn">➕ Добавить ментора</a>
        <a href="{% url 'mentor_list' %}" class="btn">👨‍🏫 Список менторов</a>
        <a href="{% url 'statistics' %}" class="btn">📊 Статистика</a>
        <a href="{% url 'action_history' %}" class="btn">📜История</a>
    </div>

    <script>
        function searchUsers() {
            let input = document.getElementById("searchInput").value.toLowerCase();
            let rows = document.querySelectorAll("table tr");

            rows.forEach((row, index) => {
                if (index === 0) return;
                let text = row.innerText.toLowerCase();
                row.style.display = text.includes(input) ? "" : "none";
            });
        }
    </script>
</body>
</html>
