<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список менторов</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Список менторов</h1>

        <div class="mentor-list">
            <table>
                <tr><th>Имя</th><th>Телефон</th><th>Действие</th></tr>
                {% for mentor in mentors %}
                <tr>
                    <td>{{ mentor.name }}</td>
                    <td>{{ mentor.phone }}</td>
                    <td>
                        <a href="{% url 'edit_mentor' mentor.id %}" class="btn">✏️ Редактировать</a>
                        <a href="{% url 'delete_permanently' 'mentor' mentor.id %}" onclick="return confirm('Удалить навсегда?');">❌ Удалить</a>
                    </td>
                </tr>
                {% empty %}
                <tr><td colspan="3">Нет менторов</td></tr>
                {% endfor %}
            </table>
        </div>

        <a href="{% url 'add_mentor' %}" class="btn">➕ Добавить ментора</a>
    </div>
    <a href="{% url 'candidate_list' %}" class="btn-back">Назад</a>
</body>
</html>
